<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Page</title>
    </head>
    <body> 
        {{> header}}
        <p>Profile Page Here</p>
    </body>
    {{> footer}}
</html>